* {
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: fit-content;
    display: block;
    position: absolute;
    top: 0;
    color: black;
    background-color: #b3d6ee;
    border-bottom: 2px solid red;
}

.section {
    width: 100%;
    height: 100%;
    border: 5px solid black;
}
